body, p{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", Arial, sans-serif;
}

a{
    color:inherit;
    text-decoration: none;
}

.smallbox{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;  
}

.smallbox img{
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
.twitch{
    color: white;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6441a4;
    cursor:default;
}
.streamers{
    list-style: none;
    display: inline;
    padding: 0;
}
.streamers li{
    border-top: 1px solid #999797;
    width: 100%;
    display: flex;
    height: 45px;
}

.live{
    background-color: aliceblue;
}
.live:hover{
    background-color: #f1e2f8;
}

.streamers li:first-child{
    border-top:none;
}
.streamers img{
    height: 36px;
    margin: 4px 2px 4px 2px;
    border-radius: 4px;
}
.streamers input, .notifdiv{
    cursor: pointer;
    z-index: 3;
}
.name{
    font-weight:bold;
}
.descr{
    font-size: 0.8em;
    line-height: 10px;
}
.notifdiv{
    margin-top: 10px;
}
.ripple
{
    position: relative;
    overflow: hidden;
}

.effect-ripple
{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
    animation: ripple 2s;
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
@keyframes ripple
{
    from
    {
        transform: scale(1);
        opacity: 0.4;
    }
    to
    {
        transform: scale(100);
        opacity: 0;
    }
}
